<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap= "5px">
    <div fxFlex *ngIf="imageName" >
      <img src="{{imageAddress}}" style="width: 10vw; height: 10vw;"/>
    
    </div>
    <div fxFlex>
      <p>
        <label class="file">
          <input type="file" name="image" ng2FileSelect [uploader]="uploader" 
            accept="image/x-png,image/gif,image/jpeg"  id="file" aria-label="File browser example"
            (change)="uploader.uploadAll()" />
          <span class="file-custom"></span>
        </label>
  
  
      </p>
      
    </div>
    <div fxFlex>
  
    </div>
</div>