<div dir="rtl">
    <form novalidate #RPForm ="ngForm" (ngSubmit)="onSubmit()"
    fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.1vw">
    
    <div fxFlex>
      <mat-form-field appearance="outline">
        <mat-label>{{'password' | transloco}}</mat-label>
        <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required>
        <mat-error *ngIf="password.errors?.required">{{'formErrors.password' | transloco}}</mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="100">
      
        <button class="primaryButton" type="submit">{{'submit' | transloco}} </button>
    </div>
    </form>
    
    </div>