$lt-gray: #ddd;
$background-dark:rgb(42, 77, 105);
$background-light: rgb(76, 134, 180);
$background-pale:rgb(53, 198, 250);;
$blue-toolbar : rgb(26, 78, 128);
$pale-toolbar:rgb(222, 246, 255);
$brown-color : rgb(183, 47, 34);
$button-blue-border : rgb(129, 180, 211);
$signup-background : rgb(149, 229, 251);
$defualt-profile  : rgb(126, 182, 208);
$light-blue  : rgb(126, 182, 208);
$highlight : rgb(44, 119, 186);

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.whiteToolbar {
    background-color:white!important;
    color: black!important;
    font-size: 1.2vw!important;
}
.blueToolbar{
    background-color: $blue-toolbar!important;
    color: white!important;
    font-size: 1.2vw!important;
    a{
        text-decoration: none!important;
        line-height: normal!important;
        color: white!important;
    }
}


body {
    margin: 0;
  }

::ng-deep .mat-toolbar-row{
    height : 5vw!important;
    padding: 0.5vw!important;
}

::ng-deep .mat-toolbar-multiple-rows{
        height: 10vw!important;
        min-height : 10vw!important;
}

.example-spacer {
    flex: 1 1 auto;
  }
  
  .example-logo {
    width: 7vw; height: 3vw; 
    margin: 0.1vw;
    padding: 0 0.7vw;
  }

a{
    text-decoration: none!important;
    line-height: normal!important;
}

p{
    margin: 0.01vw!important;
    line-height: normal!important;
}

.headerItems{
    height: 5vw!important;
    width: 9vw!important;
}
.headerItems:hover{
    //box-shadow: 0px 5px 30px rgb(255, 255, 255);
    background-color: $light-blue !important;
}
.headerItems:focus {
    outline:0!important;
}
*:focus{
    outline: 0!important;
}

.active {
    border-bottom:0.4vw solid $background-pale!important;
    background-color: rgb(44, 119, 186)!important;
}

.makeProfit{
    height: 2.5vw!important;
    width: auto!important;
    border: 0.1vw solid $brown-color;
    background-color: white!important;
    color : $brown-color!important;
    font-size: 1.5vw!important;
    border-radius: 1vw!important;
    line-height: 2.5vw!important;
    text-align: center!important;
    padding-right: 0.8vw!important ;
}

.loginButton{
    height: 1.5vw!important;
    width: 4.5vw!important;
    border: 0.1vw solid $button-blue-border!important;
    background-color: white!important;
    font-size: 1.2vw!important;
    border-radius: 1vw!important;
    line-height: 1.5vw!important;
    text-align: center!important;
}
.signupButton{
    height: 1.5vw!important;
    width: 4.5vw!important;
    border: 0.1vw solid $signup-background!important;
    background-color:$signup-background!important;
    font-size: 1.2vw!important;
    border-radius: 1vw!important;
    line-height: 1.5vw!important;
    text-align: center!important;
}
::ng-deep .makeProfit .mat-icon{
    height: auto!important;
    color : $brown-color!important;
    width : 2vw!important;
    font-size: 3vw!important;
    line-height: 3vw !important;
}
::ng-deep .headerButton .mat-icon{
    height: 2vw!important;
    color : $background-pale!important;
    width : 2vw!important;
    font-size: 2vw!important;
    line-height: 1.5vw !important;
}
::ng-deep .avatar .mat-icon{
    height: 2vw!important;
    color : black!important;
    width : 2vw!important;
    font-size: 1.5vw!important;
    line-height: 1.5vw !important;
    align-self: flex-end!important;
}
::ng-deep .headerButton.mat-icon-button {
  height: 2.5vw!important;
  width :2.5vw!important;
  font-size: 2.5vw!important;
  line-height: 1.5vw!important;
}
::ng-deep .mat-menu-item {
    height : 2.4vw!important;
    line-height: 2.4vw!important;
    padding: 0 0.8vw!important;
    font-size: 1vw!important;
}
::ng-deep .mat-menu-content {
    padding-top: 0.4vw!important;
    padding-bottom: 0.4vw!important;
}

::ng-deep .mat-menu-panel {
    min-width: 7vw!important;
    max-width: 7vw!important;
    max-height: calc(100vh - 5vw)!important;
    border-radius: 0.5vw!important;
    outline: 0!important;
    min-height: 5vw!important;
}

