<mat-toolbar>
  <mat-toolbar-row class="whiteToolbar">
    <div style="display: flex;" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="15vw">
      <div fxFlex  >
        <!--avatar-->
        <div style="display: flex;" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="0.1vw"
        >
          <a  routerLinkActive [matMenuTriggerFor]="menu"  *ngIf="profileVisibility">
            <ngx-avatar src="{{imageAddress}}" [round]="true" [size]="avatar" ></ngx-avatar>
          </a>
          <a  *ngIf="!profileVisibility" >
            <ngx-avatar src="{{imageAddress}}" [round]="true" [size]="avatar" ></ngx-avatar>
          </a>
          <a class="avatar" [matMenuTriggerFor]="menu"><mat-icon >keyboard_arrow_down</mat-icon></a> 
          <mat-menu  #menu="matMenu" >
            <button mat-menu-item routerLink="/usersProfile" >{{'userProfile' | transloco}}</button>
            <button mat-menu-item (click)="logOut()" >{{'logout' | transloco}}</button>
          </mat-menu>
          <!--username and notif and alarm-->
          <div style="display: flex;" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.01vw"
          *ngIf="profileVisibility">
            <p >{{name}}</p>
            <div style="display: flex;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.1vw">
              <button class="headerButton" mat-icon-button >
                <mat-icon>notifications</mat-icon>
              </button>
              <button class="headerButton" mat-icon-button >
                <mat-icon>mail</mat-icon>
              </button>
            </div>
          </div>
          <!--login - signUp-->
          <div style="display: flex;" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.2vw"
          *ngIf="!profileVisibility">
            <a class="loginButton" (click)="openLogInDialog()" *ngIf="!profileVisibility" >
              {{'login' | transloco}}</a>
            <a class="signupButton" (click)="openSignUpDialog()" *ngIf="!profileVisibility">
              {{'signup' | transloco}}</a>  
          </div>
        </div>
    </div>
    <!--flags-->
    <div fxFlex>
      <div style="display: flex;" fxLayout="column" fxLayoutAlign="end end" fxLayoutGap="0.1vw">
        <div style="display: flex;" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1vw">
          <a (click)="changeLang('fa')">فارسی</a>
          <a>
            <ngx-avatar src="{{address+ 'iran.png'}}" [round]="true" [size]="flag"
            (click)="changeLang('fa')" ></ngx-avatar>
          </a>
        </div>
        <div style="display: flex;" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1vw">
          <a (click)="changeLang('en')">English</a>
          <a>
            <ngx-avatar src="{{address+ 'uk.png'}}" [round]="true" [size]="flag" 
            (click)="changeLang('en')"></ngx-avatar>       
          </a>
        </div>
      </div>     
    </div>
    <!--Make profit here-->
    <div class="makeProfit">
      <div style="display: flex;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3vw">
        <mat-icon>arrow_left</mat-icon>
        <a>{{'makeProfit' | transloco}}</a>
      </div>
    </div>

  </div>
    <span class="example-spacer"></span>
      
      <img src={{logoImageAddress}} routerLink="/home"
      class="example-logo">
  
  </mat-toolbar-row>
  <!--blueToolbar-->
  <mat-toolbar-row class="blueToolbar" dir="rtl">
      <div style="display: flex;" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1.7vw">
        <!--buildRobot-->
        <div fxFlex fxFlexOffset="5" >
          <div style="display: flex;" routerLink="/strategy" class="headerItems" fxLayout="column" 
          fxLayoutAlign="center center" fxLayoutGap="0.01vw" routerLinkActive="active">
            <!--icon-->
            <img src="{{address + 'wrobot.png'}}" style="width: 2vw; height: 2vw;" >
            <a routerLink="/strategy">{{'buildRobot' | transloco}}</a>
          </div>
        </div>
        <!--aiEngine-->
        <div fxFlex>
          <div style="display: flex;" class="headerItems" fxLayout="column" fxLayoutAlign="center center" 
          fxLayoutGap="0.01vw" routerLink="/aiEngine" routerLinkActive="active">
            <!--icon-->
            <img  src="{{address + 'wengine.png'}}" style="width: 2vw; height: 2vw;">
            <a routerLink="/aiEngine"  >{{'ArtificialIntelligenceEngine' | transloco}}</a>
          </div>
        </div>
        <!--bascket-->
        <div fxFlex>
          <div style="display: flex;" class="headerItems" fxLayout="column" fxLayoutAlign="center center" 
          fxLayoutGap="0.01vw" routerLink="/portfolio" routerLinkActive="active">
            <!--icon-->
            <img src="{{address + 'wbascket.png'}}" style="width: 2vw; height: 2vw;">
            <a routerLink="/portfolio" >{{'smartBascket' | transloco}}</a>
          </div>
        </div>
        <!--digitalCurrency-->
        <div fxFlex>
          <div style="display: flex;" class="headerItems" fxLayout="column" fxLayoutAlign="center center" 
          fxLayoutGap="0.01vw" routerLink="/digitalCurrency" routerLinkActive="active">
            <!--icon-->
            <img src="{{address + 'wbitcoin.png'}}" style="width: 2vw; height: 2vw;">
            <a  routerLink="/digitalCurrency">{{'digitalCurrency' | transloco}}</a>
          </div>
        </div>
        <!--news-->
        <div fxFlex>
          <div style="display: flex;" class="headerItems" fxLayout="column" fxLayoutAlign="center center" 
          fxLayoutGap="0.01vw" routerLink="/news" routerLinkActive="active">
            <!--icon-->
            <img src="{{address + 'wnews.png'}}" style="width: 2vw; height: 2vw;">
            <a routerLink="/news">{{'Fundamental News' | transloco}} </a>
          </div>
        </div>
        <!--technical-->
        <div fxFlex>
          <div style="display: flex;" class="headerItems" fxLayout="column" fxLayoutAlign="center center" 
          fxLayoutGap="0.01vw" routerLink="/technical" routerLinkActive="active">
            <!--icon-->
            <img src="{{address + 'wtech.png'}}" style="width: 2vw; height: 2vw;">
            <a routerLink="/technical">{{'Technical Tools' | transloco}} </a>
          </div>
        </div>
        <!--shop-->
        <div fxFlex>
          <div style="display: flex;" class="headerItems" fxLayout="column" fxLayoutAlign="center center" 
          fxLayoutGap="0.01vw" routerLink="/shop" routerLinkActive="active" >
            <!--icon-->
            <img src="{{address + 'wbuy.png'}}" style="width: 2vw; height: 2vw;">
            <a  routerLink="/shop">{{'Shop' | transloco}}</a>
          </div>  
        </div>
        <!--chat-->
        <div fxFlex>
          <div style="display: flex;" class="headerItems" fxLayout="column" fxLayoutAlign="center center" 
          fxLayoutGap="0.01vw" routerLink="/adforum" routerLinkActive="active">
            <!--icon-->
            <img src="{{address + 'wchat.png'}}" style="width: 2vw; height: 2vw;">
            <a  >{{'AnalysisAndDiscussionForum' | transloco}}</a>
          </div>
        </div>
        <!--learning-->
        <div fxFlex>
          <div style="display: flex;" class="headerItems" fxLayout="column" fxLayoutAlign="center center" 
          fxLayoutGap="0.01vw" routerLink="/tutorial" routerLinkActive="active">
            <!--icon-->
            <img src="{{address + 'wlearning.png'}}" style="width: 2vw; height: 2vw;">
            <a>{{'Tutorial' | transloco}}</a>
          </div>
        </div>
        <!--Tour-->
        <div fxFlex>
          <div style="display: flex;" class="headerItems" fxLayout="column" fxLayoutAlign="center center" 
          fxLayoutGap="0.01vw"  routerLink="/tour" routerLinkActive="active">
            <!--icon-->
            <img src="{{address + 'wfacilities.png'}}" style="width: 2vw; height: 2vw;">
            <a>{{'Tour' | transloco}}</a>
          </div>
        </div>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
