$lt-gray: #ddd;
$background-dark:rgb(42, 77, 105);
$background-light: rgb(76, 134, 180);
$background-pale:rgb(101, 171, 230);

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}
.footer{
    background-color: rgb(00, 49, 82)!important;
    @include zero-margin(0px, 0px);
    margin-top: 0vh;
}
*{
    color:white;
    font-weight:  normal;
}

.btn-facebook {color:#fff!important; background-color:#3b5998!important;}
.btn-google-plus{color:#fff!important;background-color:#dd4b39!important;}
.btn-youtube{color:#fff!important;background-color:#ff4b39!important;}
.btn-linkedin{color:#fff!important;background-color:#007bb6!important;}
.btn-twitter{color:#fff!important;background-color: coral!important;}
.btn-mail{color:#fff!important;background-color:#512DA8!important;}