<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="0.1px"
    dir="rtl">
  <div fxFlex="150" fxFlex.gt-sm="40" yle="flex: 1 0 auto;">
    <div fxLayout="row">
      <div fxFlex="150">
        <h4>{{'links' | transloco}}</h4>
        <mat-list>
          <mat-list-item><a mat-button routerLink="/home">{{'Home' | transloco}}</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/aboutus">{{'aboutUs' | transloco}}</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/contactus">{{'contactUs' | transloco}}</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="150">
        <h4>{{'logoName' | transloco}}</h4>
        <address style="text-size: 80%">
         <p> {{'ourAddress' | transloco}}</p>
         <!-- 
          <i class="fa fa-phone"></i>:********-021<br>
          -->
          <i class="fa fa-envelope"></i>:
          <a href="mailto:info@sudsaz.com">info@sudsaz.com</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div  dir="rtl">
      <p>{{'copyRight' | transloco}}</p>
  </div>
</div>