
<div class="container" fxLayoutAlign="space-around center" fxLayoutGap="25px" fxLayout="column">

    <div fxFlex >
    
        <div class="example-container">
            <table mat-table [dataSource]="dataSource" matSort >
    
            <!-- ستون نام  -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'firstName' | transloco}}</th>
                <td mat-cell *matCellDef="let row" style="text-align: center; font-size: large;"> <a [routerLink]="['/auth',row.id]">{{row.firstName}} </a></td>
            </ng-container>
        
            <!-- ستون نام خانوداذگی -->
             <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lastName' | transloco}}</th>
               <td mat-cell *matCellDef="let row" style="text-align: center; font-size: large;"> <a [routerLink]="['/auth',row.id]">{{row.lastName}} </a></td>
            </ng-container>
        
            <!-- ستون  تاریخ ایجاد 
            <ng-container matColumnDef="creationDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'createdAt' | transloco}}</th>
                <td mat-cell *matCellDef="let row" style="text-align: center; font-size: large;"> {{row.creationDate}} </td>
            </ng-container>
            -->
            <!-- ستون وضعیت  -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'status' | transloco}}</th>
                <td mat-cell *matCellDef="let row" style="text-align: center; font-size: large;"> {{row.status}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
            </table>
        </div>
    
    </div>  
    <div fxFlex fxFlexAlign="center">
    </div>
      
</div>