$lt-gray: #ddd;
$background-dark:rgb(42, 77, 105);
$background-light: rgb(76, 134, 180);
$background-pale:rgb(222, 246, 255);
$background-white : rgb(255, 255, 255);
.propertyForm{
    background-color: $background-pale;
    font-size: 1.5vw!important;
    margin : 1vw!important;
    padding: 0.5vw!important;
}
mat-label{
    font-size: 1.5vw!important;
    color:$background-dark!important;
    padding-top: 0.5vw!important;
    margin-top: 0.5vw!important;
    padding-bottom: 0.5vw!important;
}
mat-select{
    font-size: 1vw!important;
    color:$background-dark!important;
}
::ng-deep .mat-select-panel{
    max-height : 20vh!important;
}
input{
    padding-top: 0.5vw!important;
}
*{
    font-size: 1vw!important;
}
