<form [formGroup]="form" class = "propertyForm">
  

    <div [ngSwitch]="question.controlType">
      <mat-form-field  *ngSwitchCase="'textbox'"  >
        <mat-label>{{question.label}}</mat-label>
        <input matInput  [formControlName]="question.key"
        [id]="question.key" [type]="question.type" [(ngModel)]= "selected">
      </mat-form-field>
  
      <mat-form-field *ngSwitchCase="'dropdown'" >
        <mat-label>{{question.label}}</mat-label>
        <mat-select [formControlName]="question.key" [(ngModel)]= "selected">
          <mat-option *ngFor="let opt of question.options" [value]="opt.key">
            {{opt.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
    </div>
  
  </form>
  
  
  