<mat-dialog-content >
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.01vw">
    <div fxFlex>
      <mat-form-field style="margin-top:2vw ; padding-top: 0.5vw;">
        <mat-label>{{'fileName' | transloco}}</mat-label>
        <input matInput type="text"  [(ngModel)] = "data.name">
      </mat-form-field>
    </div>
    <div fxFlex>
        <div fxLayout="row"  fxLayoutAlign="center center" fxLayoutGap="0.1vw">
            <div fxFlex>
              <button class="primaryButton" [mat-dialog-close] = "data.name">{{'save' | transloco}}</button>
            </div>
            <div fxFlex>
              <button class="primaryButton" (click) = "closeSaveDialog()">{{'close' | transloco}}</button>
            </div>
        </div>    
    </div>
  </div>
  </mat-dialog-content>
