<app-trading-view></app-trading-view>

<div class="container" fxLayout = "column" fxLayoutAlign="space-around center" fxLayoutGap="1vw" dir="rtl">

  <div fxFlex class="big-box">{{'tradesChart' | transloco}}
    <div class="container"  fxLayout = "column" fxLayoutAlign="space-around center" fxLayoutGap="1vw">
      <div fxFlex>
        <div class="container"  fxLayout = "row" fxLayoutAlign="space-around center" fxLayoutGap="5vw">
          <div fxFlex>
            <mat-form-field>
              <mat-label>{{'chooseDigitalCurrency' | transloco}}</mat-label>
              <mat-select [(value)]="currencyName" #select>
                <mat-option *ngFor="let currencyname of currencyNames"  [value]="currencyname">{{currencyname}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field>
              <mat-label>{{'baseUnit' | transloco}}</mat-label>
              <mat-select [(value)]="baseUnit">
                <mat-option *ngFor="let baseunit of baseUnits"  [value]="baseunit">{{baseunit}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!--<div fxFlex dir="ltr"><app-trading-view></app-trading-view></div>-->

    </div>
  </div>
  <div fxFlex class="big-box">{{'traders' | transloco}}
    <div class="container"  fxLayout = "row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="0.25vw" *ngIf="currencyName">
      <div fxFlex>
        <div class="container"  fxLayout = "column" fxLayoutAlign="space-around start" fxLayoutGap="0.05vw">
          <div fxFlex>{{'sellers' | transloco}}</div>
          <div fxFlex>
            <app-traders-table [currencyName]="currencyName" [type]="'sellers'" [refresh]="refresh"></app-traders-table>
          </div>
        </div>
      </div>
      <div fxFlex>
        <div class="container"  fxLayout = "column" fxLayoutAlign="space-around start" fxLayoutGap="0.05vw">
          <div fxFlex>{{'buyers' | transloco}}</div>
          <div fxFlex>
            <app-traders-table [currencyName]="currencyName" [type]="'shoppers'" [refresh]="refresh"></app-traders-table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex class="big-box"> {{'trading' | transloco}}
    <div class="container"  fxLayout = "column" fxLayoutAlign="space-around start" fxLayoutGap="1vw">
      
      <div fxFlex>
        <div class="container"  fxLayout = "row" fxLayoutAlign="space-around start" fxLayoutGap="1.5vw">
          <div fxFlex=100 style="width: 10vw;">{{'digitalCurrencyCash' | transloco}}</div>
          <div fxFlex  class="small-box" >
            {{digitalWallet}}
          </div>
          <div fxFlex>{{currencyName}}</div>
        </div>
      </div>
      <div fxFlex="100">
        <div class="container"  fxLayout = "row" fxLayoutAlign="center center" fxLayoutGap="1vw">
          <div fxFlex="100">{{'walletCash' | transloco}}</div>
          <div fxFlex  class="small-box">{{wallet}} </div>
          <div fxFlex>{{'rial' | transloco}}</div>
          <div fxFlex>
            <button class="primaryButton" [routerLink]="['/credit',wallet]" >
              {{'chargeWallet' | transloco}}
            </button>
          </div>
        </div>
      </div>
      <div fxFlex fxFlexAlign="start" >
        <div class="container"  fxLayout = "row" fxLayoutAlign="center center" fxLayoutGap="1vw">
          <div fxFlex>
            <mat-form-field>
              <mat-label>{{'chooseDigitalCurrency' | transloco}}</mat-label>
              <mat-select [(value)]="currencyName" #select>
                <mat-option *ngFor="let currencyname of currencyNames"  [value]="currencyname">{{currencyname}}</mat-option>
              </mat-select>
          </mat-form-field>
          </div>
        </div>  
    </div>
      <div fxFlex fxFlexAlign="start">
        <div class="container"  fxLayout = "row" fxLayoutAlign="center center" fxLayoutGap="1vw">

          <div fxFlexAlign="start" >
            <mat-form-field >
              <mat-label>{{'digitalCurrencyVolume' | transloco}}</mat-label>
              <input matInput type="number" placeholder="{{'digitalCurrencyVolume' | transloco}}" 
              name="myValue"  #myValue="ngModel" [(ngModel)]="order.value">
            </mat-form-field>
          </div>
          <div fxFlex>{{currencyName}}</div>
        </div>
      </div>
      <div fxFlex>
        <div class="container"  fxLayout = "row" fxLayoutAlign="space-around center" fxLayoutGap="1vw">
          <div fxFlex >
            <mat-form-field >
              <mat-label>{{'unitPrice' | transloco}}</mat-label>
              <input matInput type="number" placeholder="{{'unitPrice' | transloco}}" name="unitPrice"
              #unitPrice="ngModel" [(ngModel)]="order.unitPrice">
            </mat-form-field>
          </div>
          <div fxFlex>{{'rial' | transloco}}</div>
        </div>
      </div>
      <div fxFlex>
        <div class="container"  fxLayout = "row" fxLayoutAlign="space-around center" fxLayoutGap="1vw">
          <div fxFlex>{{'total' | transloco}}</div>
          <div fxFlex >{{order.unitPrice * order.value}}</div>
        </div>
    </div>
    <div fxFlex >
      <div class="container"  fxLayout = "row" fxLayoutAlign="space-around center" fxLayoutGap="1vw">
        <div fxFlex>
          <div class="container" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="0.5vw">
            <div fxFlex>
              {{'buy' | transloco}}
            </div>
            <div fxFlex>
              <mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle>
            </div>
            <div fxFlex>
              {{'sell' | transloco}}
            </div>
          </div>
        </div>
        <div fxFlex>
            <button class="primaryButton" (click)="sendOrder()" >{{'submitOrder' | transloco}}</button>  
        </div>
      </div>
    </div>
  </div>
</div>