$lt-gray: #ddd;
$background-dark:rgb(42, 77, 105);
$background-light: rgb(76, 134, 180);
$background-pale:rgb(222, 246, 255);
$button-primary : rgb(33, 150, 243);
$button-accent : rgb(255, 64, 129);
.big-box{
   // border: 4px solid $background-dark;
    width: 80vw;
    background-color: $background-pale;
}
/*.small-box{
    border: 2px solid $background-dark;
    width: 50px;
    height: 20px;
}*/
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #49c5b6;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #49c5b6;
}

.mat-mini-fab{
    background-color: #49c5b6;
    font-size: 1.2vw!important;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.2em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
mat-form-field{
  width : 20vw;
  font-size:1.2vw!important;
}
.primaryButton{
  font-size:1vw!important;
  width: max-content!important;
  height: fit-content!important;
  background-color: $button-primary;
  color: white;
  border: 1px solid  $button-primary;
  border-radius: 5%;
}
.primaryButton:focus{
    box-shadow: 0px 0.25vw 1.5vw rgb(4, 81, 153);
    outline: none;

} 
mat-label{
    color: black !important;
    font-size: 1.2vw!important;
}
*{
    font-size: 1.2vw;
}
  
  ::ng-deep .mat-select-panel {
    max-height: 20vh !important;
    max-width: 20vw!important;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 70%;
  }
  
  .example-full-width {
    width: 70%;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .margins {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}