$lt-gray: #ddd;
$background-dark:rgb(42, 77, 105);
$background-light: rgb(76, 134, 180);
$background-pale:rgb(222, 246, 255);
$button-primary : rgb(33, 150, 243);
$button-accent : rgb(255, 64, 129);

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
::ng-deep .mat-form-field{
  width : 20vw;
  font-size:1.5vw!important;
  margin-bottom: 0.01vw!important;
}

mat-label {
  font-size: 1.5vw!important;
}
.primaryButton{
  font-size:1.5vw!important;
  width: 10vw!important;
  height: fit-content!important;
  background-color: $button-primary;
  color: white;
  border: 1px solid  $button-primary;
  border-radius: 5%;
}
.primaryButton:focus{
    box-shadow: 0px 0.25vw 1.5vw rgb(4, 81, 153);
    outline: none;

} 
.accentButton{
  font-size: 1.5vw!important;
  width: fit-content!important;
  height: fit-content!important;
  background-color: $button-accent;
  color: white;
  border: none;
  border-radius: 5%;
}
.accentButton:focus{
  box-shadow: 0px 0.25vw 1.5vw rgb(252, 5, 87);;
  outline: none;

} 

*{
    font-size: 1.5vw!important;
    font-family:  BNazanin,'BNazanin',Tahoma,Verdana, sans-serif, sans-serif;
}

::ng-deep .mat-dialog-container {
    padding: 0.2vw!important;
    border-radius: 0.2vw!important;
    overflow-y: hidden!important;
    overflow-x: hidden!important;
}

::ng-deep .mat-dialog-title{
    margin-right: 0.1vw!important;
    margin : 0 0 0.1vw!important;
    height: 3vw!important;
    padding-right: 1vw!important;
    font-size: 1.2vw!important;
    line-height: 3vw!important;
}
::ng-deep .mat-dialog-actions {
    padding: 0.4vw 0 !important;

    min-height: 2.6vw !important;
    align-items: center!important;
    margin: 1.2vw !important;
    margin-top : 0.5vw!important;
}
