<div dir="rtl">
    <h1 mat-dialog-title>
      {{'login' | transloco}}
    </h1>
    <mat-divider></mat-divider><br>
    <mat-error *ngIf="errMess">{{errMess}}</mat-error><br>
    <form novalidate #lForm = "ngForm" [formGroup]="logInForm" (ngSubmit)="onSubmitLogInForm()">
      <mat-dialog-content>
        <div style="display: flex;" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5vw">
          <mat-form-field appearance="outline" >
            <mat-label>{{'email' | transloco}}</mat-label>
            <input matInput  formControlName = "email" 
            type="text" placeholder="{{'email' | transloco}}" email required>
            <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" >
            <mat-label>{{'password' | transloco}}</mat-label>
            <input matInput formControlName = "password" 
            type="password" placeholder="{{'password' | transloco}}" required>
            <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
          </mat-form-field>
          <div mat-dialog-actions>
            <button class="primaryButton" type="submit">{{'login' | transloco}}</button>
          </div>
        </div>
        <!--
        <table style="width:100%">
          <tr>
            <td >
              <mat-form-field appearance="outline" >
                <mat-label>{{'email' | transloco}}</mat-label>
                <input matInput  formControlName = "email" 
                type="text" placeholder="{{'email' | transloco}}" email required>
                <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field appearance="outline" >
                <mat-label>{{'password' | transloco}}</mat-label>
                <input matInput formControlName = "password" 
                type="password" placeholder="{{'password' | transloco}}" required>
                <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
      -->
      </mat-dialog-content>

            
  
  
    </form>
  </div>
  