.file {
  font-size : 1.5vw!important;
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 2.5vw;
  }

  .file input {
    font-size : 1.5vw!important;
    min-width: 14vw;
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  .file-custom {
    font-size : 1.5vw!important;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 1.5vw;
    padding: .5vw 1vw;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: .075vw solid #ddd;
    border-radius: .25vw;
    box-shadow: inset 0 .2vw .4vw rgba(0,0,0,.05);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .file-custom:after {
    font-size : 1.5vw!important;
    content: "Choose file...";
  }
  .file-custom:before {
    font-size : 1.5vw!important;
    position: absolute;
    top: -.075vw;
    right: -.075vw;
    bottom: -.075vw;
    z-index: 6;
    display: block;
    content: "Browse";
    height: 1.5vw;
    padding: .5vw 1vw;
    line-height: 1.5;
    color: #555;
    background-color: #eee;
    border: .075vw solid #ddd;
    border-radius: 0 .25vw .25vw 0;
  }
  
  /* Focus */
  .file input:focus ~ .file-custom {
    font-size : 1.5vw!important;
    box-shadow: 0 0 0 .075vw #fff, 0 0 0 .2vw #0074d9;
  }
  