<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap= "0.1vw">
    <div fxFlex *ngIf="imageName">
      <ngx-avatar src="{{imageAddress}}" [round]="true" size="10vw" value="100%" ></ngx-avatar>
    </div>
    <div fxFlex>
        <label class="file">
          <input type="file" name="image" ng2FileSelect [uploader]="uploader" 
            accept="image/x-png,image/gif,image/jpeg"  id="file" aria-label="File browser example"
            (change)="handleUpload($event)" />
          <span class="file-custom"></span>
        </label>
    </div>
    <div fxFlex>
    </div>
  </div>