$button-accent : rgb(255, 64, 129);
$button-primary : rgb(33, 150, 243);

.primaryButton{
    font-size:1vw!important;
    width: fit-content!important;
    height: fit-content!important;
    background-color: $button-primary;
    color: white;
    border: 1px solid  $button-primary;
    border-radius: 5%;
  }
  .primaryButton:focus{
      box-shadow: 0px 0.25vw 1.5vw rgb(4, 81, 153);
      outline: none;
  
  } 
  