<div style="overflow: auto; height: 60vh;">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
  
      <div *ngFor="let question of questions">
        <app-question [question]="question" [form]="form"></app-question>
      </div>
  
      <div >
        <button class="primaryButton" type="submit" [disabled]="!form.valid">{{'save' | transloco}}</button>
      </div>
    </form>
  
  </div>
  
  