<div  fxLayoutAlign="space-around center" fxLayoutGap="1vw" fxLayout="column">

    <div fxFlex >
  
        <div class="example-container">
            <table mat-table [dataSource]="dataSource" matSort dir="rtl">
        
                <!-- ستون قیمت واحد -->
                <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'stock' | transloco}}</th>
                <td mat-cell *matCellDef="let row"> {{row.symbol}} </td>
                </ng-container>
        
                <!-- ستون مقدار -->
                <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header dir="ltr">{{'startDate' | transloco}}</th>
                <td mat-cell *matCellDef="let row"> {{row.startDate | convertNumber}} </td>
                </ng-container>
        
                <!-- ستون قیمت کل -->
                <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header dir="ltr">{{'endDate' | transloco}}</th>
                <td mat-cell *matCellDef="let row"> {{row.endDate | convertNumber}} </td>
                </ng-container>
                <!-- ستون قیمت کل -->
                <ng-container matColumnDef="tradeDays">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'tradeDays' | transloco}}</th>
                <td mat-cell *matCellDef="let row"> {{row.tradeDays }} </td>
                </ng-container> 
                <!-- ستون قیمت کل -->
                <ng-container matColumnDef="profit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'profit' | transloco}} %</th>
                <td mat-cell *matCellDef="let row"  [style.color]="row.color" dir="ltr"> {{row.profit}} </td>
                </ng-container>
                <!-- ستون قیمت کل -->
                <ng-container matColumnDef="trades">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'tradesNumber' | transloco}}</th>
                <td mat-cell *matCellDef="let row"> {{row.trades}} </td>
                </ng-container>
                <!-- ستون قیمت کل -->
                <ng-container matColumnDef="succTrades">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'successfulTrades' | transloco}}</th>
                <td mat-cell *matCellDef="let row"> {{row.succTrades}} </td>
                </ng-container>
                <!-- ستون قیمت کل -->
                <ng-container matColumnDef="unsuccTrades">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'unsuccessfulTrades' | transloco}}</th>
                <td mat-cell *matCellDef="let row"> {{row.unsuccTrades}} </td>
                </ng-container>              
                                
                <tr mat-header-row *matHeaderRowDef="displayedColumns; "></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                
                </tr>
            </table>
            <mat-paginator class="myPaginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
  
  </div> 
    
</div>