
  
  td, th {
    padding: 0.5vw!important;
  }

  $lt-gray: #ddd;
$background-dark:rgb(42, 77, 105);
$background-light: rgb(76, 134, 180);
$background-pale:rgb(138, 194, 240);

  .mat-sort-header-button{
    padding: 0.5vw!important;

  }
  .mat-sort-header{
    font-size: 1vw!important;
  }
  table {
    text-align: center!important;
    width: 40vw!important;
    font-weight: bold!important;
    max-height: 60vh;
    border : 0.1vw solid $background-light;
    padding: 0.5vw!important;
  }
  .mat-cell{
    font-size: 1vw!important;
  }
  ::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    font-size: 1.5vw!important;
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
    color: black!important;
  }
  ::ng-deep .mat-sort-header-container{
    color: black!important;
  }
  .mat-row:nth-child(even){
    background-color: $background-pale;
    padding: 0.1vw!important;
    font-weight: bold!important;
    }

.mat-row:nth-child(odd){
    background-color:$lt-gray;
    padding: 0.1vw!important;
    font-weight: bold!important;
    }
::ng-deep .mat-sort-header-container{
  width: max-content!important;
  padding: 0.25vw;
}
::ng-deep .mat-sort-header-container{
   
  justify-content: center!important;
  display: flex;
  padding: 0.25vw;
  color: black!important;
}
::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  font-size: 0.5vw!important;
  opacity: 0.54 !important;
  transform: translateY(0px) !important;
  color: black!important;
}  
.mat-sort-header-stem{
  height : 0.5vh!important;
  width: 0.1vw!important;;
}
.mat-sort-header-arrow {
  font-size: 0.5vw!important;
}
//mat-paginator
/*::ng-deep .mat-select-value {
  font-size: 1vw;
}
    
::ng-deep .mat-option-text {
  font-size: 1vw;
}
::ng-deep .mat-paginator-page-size-label{
  font-size: 1vw!important;
}
::ng-deep .mat-paginator-range-label{
  font-size: 1vw!important;
}*/
//Items per page
::ng-deep .mat-paginator-page-size-label{
  font-size: 1vw!important;
}
//selected size
::ng-deep .mat-select-value {
  font-size: 1vw;
}

//optiions for select    
::ng-deep .mat-option-text {
  font-size: 1.5vw;
  width: 1.5vw!important;
}
::ng-deep .mat-select-arrow {
  width : 0.01vw!important;
  height: 0.01vh!important;
  border-left: 0.25vw solid transparent;
  border-right: 0.25vw solid transparent;
  border-top: 0.25vw solid;
  margin: 0 0.25vw;
}
mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
}
//range
::ng-deep .mat-paginator-range-label{
  font-size: 1vw!important;
}
//icons
::ng-deep .mat-paginator-icon {
  height: 1.5vw!important;
  width : 1.5vw!important;
  font-size: 1.5vw!important;
  line-height: 1vw !important;
}
::ng-deep .myPaginator .mat-form-field {
  width : 10vw!important;
}

::ng-deep .mat-select-panel {
  max-height: 30vh !important;
  max-width: 2vw!important;
}
//button
::ng-deep .mat-paginator .mat-icon-button{
 
  height: 3.5vw!important;
  width :3.5vw!important;
  font-size: 3.5vw!important;
  line-height: 1vw!important;
}


