
<div class="container" fxLayout="column" fxLayoutALign="center center" fxLayoutGap="0.5vw">
    <div fxFlex fxFlexAlign="center" >
    <!--search bar-->
    </div>
    <div fxFlex>
        <div class="container" fxLayout="row" fxLayout.lt-lg="column" fxLayoutALign="center center" fxLayoutGap="0.5vw">
            <!--select-->
            <div fxFlex>
                <form>
                    <div class="container" fxLayout="column" fxLayoutALign="center center" fxLayoutGap="0.5vw">
                        <div fxFlex="100">
                            <mat-form-field appearance="fill"  >
                                <mat-label>{{'choosePlan' | transloco}}</mat-label>
                                <mat-select  name="plan" [(value)]="selectedPlan" >
                                    <mat-option *ngFor="let plan of plans" 
                                    [value]="plan">{{plan | transloco }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex>
                            <mat-form-field appearance="outline" id="investment_amount">
                                <input matInput dir="rtl" [(ngModel)]="investmentAmount" name="investment_amount"
                                placeholder="{{'Investment Amount' | transloco}}">
                                <!--<mat-error *ngIf="formErrors">{{formErrors.password}}</mat-error>-->
                            </mat-form-field>
                        </div>
                        <div fxFlex>
                            <mat-form-field appearance="outline" id="date">
                                <input matInput dir="rtl" [(ngModel)]="startDate"  [dpDayPicker]="config"  mode="day" name="stDate"
                                placeholder="{{'startDate' | transloco}}" theme="dp-material"attachTo="#date">
                            </mat-form-field>
                        </div>
                        <div fxFlex>
                            <mat-form-field appearance="outline" id="eddate">
                                <input matInput dir="rtl" [(ngModel)]="endDate"  mode="day" name="edDate"
                                placeholder="{{'endDate' | transloco}}" theme="dp-material" [dpDayPicker]="config"  attachTo="#eddate" >
                            </mat-form-field>
                        </div>
                        <div fxFlex>
                            <button class="primaryButton" (click)="runStrategy()">
                                {{'testPackage' | transloco}}</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--output-->
            <div fxFlex>
                <div class="container" fxLayout="column" fxLayoutALign="center center" fxLayoutGap="0.5vw">
                    <div fxFlex>
                        <ngx-charts-pie-chart
                            [view]="view"
                            [scheme]="colorScheme"
                            [results]="single0"
                            [gradient]="gradient"
                            [legend]="showLegend"
                            [legendPosition]="legendPosition"
                            [labels]="showLabels"
                            [doughnut]="isDoughnut"
                            (select)="onSelect($event)"
                            (activate)="onActivate($event)"
                            (deactivate)="onDeactivate($event)"
                            >
                        </ngx-charts-pie-chart>
                    </div>
                    <div fxFlex>
                        <ngx-charts-pie-chart
                            [view]="view"
                            [scheme]="colorScheme"
                            [results]="single1"
                            [gradient]="gradient"
                            [legend]="showLegend"
                            [legendPosition]="legendPosition"
                            [labels]="showLabels"
                            [doughnut]="isDoughnut"
                            (select)="onSelect($event)"
                            (activate)="onActivate($event)"
                            (deactivate)="onDeactivate($event)"
                            >
                        </ngx-charts-pie-chart>
                    </div>
                    <div fxFlex>
                        <ngx-charts-pie-chart
                            [view]="view"
                            [scheme]="colorScheme"
                            [results]="single2"
                            [gradient]="gradient"
                            [legend]="showLegend"
                            [legendPosition]="legendPosition"
                            [labels]="showLabels"
                            [doughnut]="isDoughnut"
                            (select)="onSelect($event)"
                            (activate)="onActivate($event)"
                            (deactivate)="onDeactivate($event)"
                            >
                        </ngx-charts-pie-chart>
                    </div>
                    <div fxFlex>
                        <ngx-charts-pie-chart
                            [view]="view"
                            [scheme]="colorScheme"
                            [results]="single3"
                            [gradient]="gradient"
                            [legend]="showLegend"
                            [legendPosition]="legendPosition"
                            [labels]="showLabels"
                            [doughnut]="isDoughnut"
                            (select)="onSelect($event)"
                            (activate)="onActivate($event)"
                            (deactivate)="onDeactivate($event)"
                            >
                        </ngx-charts-pie-chart>
                    </div>
                    <div fxFlex>
                        <ngx-charts-pie-chart
                            [view]="view"
                            [scheme]="colorScheme"
                            [results]="single4"
                            [gradient]="gradient"
                            [legend]="showLegend"
                            [legendPosition]="legendPosition"
                            [labels]="showLabels"
                            [doughnut]="isDoughnut"
                            (select)="onSelect($event)"
                            (activate)="onActivate($event)"
                            (deactivate)="onDeactivate($event)"
                            >
                        </ngx-charts-pie-chart>
                    </div>
                    <div fxFlex>
                        <ngx-charts-pie-chart
                            [view]="view"
                            [scheme]="colorScheme"
                            [results]="single5"
                            [gradient]="gradient"
                            [legend]="showLegend"
                            [legendPosition]="legendPosition"
                            [labels]="showLabels"
                            [doughnut]="isDoughnut"
                            (select)="onSelect($event)"
                            (activate)="onActivate($event)"
                            (deactivate)="onDeactivate($event)"
                            >
                        </ngx-charts-pie-chart>
                    </div>
                    <div fxFlex>
                        <ngx-charts-pie-chart
                            [view]="view"
                            [scheme]="colorScheme"
                            [results]="single6"
                            [gradient]="gradient"
                            [legend]="showLegend"
                            [legendPosition]="legendPosition"
                            [labels]="showLabels"
                            [doughnut]="isDoughnut"
                            (select)="onSelect($event)"
                            (activate)="onActivate($event)"
                            (deactivate)="onDeactivate($event)"
                            >
                        </ngx-charts-pie-chart>
                    </div>
                    <div fxFlex>
                        <div *ngIf="run">

                        </div>

                    </div> 
                </div>
            </div>
        </div>
    </div>

</div>
