$lt-gray: #ddd;
$background-dark:rgb(42, 77, 105);
$background-light: rgb(76, 134, 180);
$background-pale:rgb(222, 246, 255);
$button-primary : rgb(33, 150, 243);
$button-accent : rgb(255, 64, 129);

* { 
    font-size: 1vw!important;
}
.mat-list-item {
    height: auto!important;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-avatar, .mat-list-base .mat-list-option .mat-list-avatar{
    height : 3vw!important;
    width:  3vw!important;
}

.primaryButton{
    font-size:1vw!important;
    width: fit-content!important;
    height: fit-content!important;
    background-color: $button-primary;
    color: white;
    border: 1px solid  $button-primary;
    border-radius: 5%;
  }
  .primaryButton:focus{
      box-shadow: 0px 0.25vw 1.5vw rgb(4, 81, 153);
      outline: none;
  
  } 
  ::ng-deep .detailButton .mat-icon{
      height: 1vw!important;
      color : black!important;
      width : 1vw!important;
      font-size: 1vw!important;
      line-height: 0.5vw !important;
  }
  ::ng-deep .detailButton.mat-icon-button {
    background-color: $lt-gray!important;
    height: 3vw!important;
    width :3vw!important;
    font-size: 3vw!important;
    line-height: 2vw!important;
  }