
<div class="container" fxLayout="column" 
fxLayoutAlign="space-around center" fxLayoutGap="1.5vw" dir="rtl">

  <div fxFlex  *ngIf="news">
    <mat-card style="width:60vw;">
      <mat-card-header>
        <mat-card-title>
          <div fxFlex fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1vw">
            <div fxFlex="100">
              <h3>{{news.title}}</h3>
            </div>
            <div fxFlex *ngIf="admin"> 
              <div class="container" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="0.1vw">
                <div fxFlex>
                  <button class="detailButton" mat-icon-button (click)="deleteNews()">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <div fxFlex >
                  <button class="detailButton" mat-icon-button routerLink="/makeNews">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
                
              </div>
            </div>
          </div>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{url + news.image}}">
      <mat-card-content>
        <div [innerHtml]="news.content"></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex>
    <div class="container" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="0.5vw">
      <div fxFlex >
        <mat-card >
          <mat-card-content>
            <mat-form-field style="width:60vw;">
              <textarea matInput placeholder="{{'comment' | transloco}}" 
               [(ngModel)]="newContent" name="nContent" style="width: 60vw; height: 5vh;">
              </textarea>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions dir="ltr">
            <button  class="primaryButton" (click)="postComment()">{{'send' | transloco}}</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div fxFlex fxFlexAlign="center" *ngIf="news.comments.length ">
    <mat-card style="width: 60vw;">
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let comment of news.comments">
            <img matListAvatar src="{{url +'images/profile/'+comment.author.image}}" alt="{{comment.author.email}}">
            <h4 matLine style="font-size: larger;" >{{comment.author.username}}</h4>
            <h4 matLine style="font-size: large;">{{comment.content}}</h4><br>
            <p matLine>
              <span> --{{comment.updatedAt | date  }} </span>
            </p><br>
            <div *ngIf="comment.owner" class="container"
            fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="0.25vw">
              <div fxFlex>
                <button class="detailButton" mat-icon-button (click) = "activeCommentArea(comment._id, comment.content)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
              <div fxFlex>
                <button class="detailButton" mat-icon-button (click) = "deleteComment(news._id,comment._id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <div *ngIf="activeComment && activeCommentId === comment._id">
                <div fxFlex >
                  <mat-form-field style="width:  20vw;">
                    <textarea matInput [(ngModel)]="updatedContent" name="content" 
                    style="width: 20vw;" >
                    
                    </textarea>
                  </mat-form-field>
                </div>
                <div fxFlex fxFlexAlign="center">
                  <button class="detailButton" mat-icon-button (click) = "updateNews(news._id ,activeCommentId)">
                    <mat-icon>send</mat-icon>
                  </button>
                </div>
              </div>
          </div>
            
          <mat-divider></mat-divider>  
          </mat-list-item>

        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
