$lt-gray: #ddd;
$background-dark:rgb(42, 77, 105);
$background-light: rgb(76, 134, 180);
$background-pale:rgb(222, 246, 255);
$button-primary : rgb(33, 150, 243);
$button-accent : rgb(255, 64, 129);

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
mat-form-field{
  width : 30vw;
  font-size:1.5vw!important;
}

.module {
    margin: 0 0 1em 0;
    overflow: hidden;
    font-size: 20px;
  }
  .module p {
    margin: 0;
  }
.fade {
    position: relative;
    height: 3.6em; /* exactly three lines */
  }
  .fade:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  }
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
  }
  .ftellipsis {
    height: 4.8em;
  }

//Items per page
::ng-deep .mat-paginator-page-size-label{
  font-size: 1vw!important;
}
//selected size
::ng-deep .mat-select-value {
  font-size: 1vw;
}

//optiions for select    
::ng-deep .mat-option-text {
  font-size: 1.5vw;
  width: 1.5vw!important;
}
::ng-deep .mat-select-arrow {
  width : 0.01vw!important;
  height: 0.01vh!important;
  border-left: 0.25vw solid transparent;
  border-right: 0.25vw solid transparent;
  border-top: 0.25vw solid;
  margin: 0 0.25vw;
}
mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
}
//range
::ng-deep .mat-paginator-range-label{
  font-size: 1vw!important;
}
//icons
::ng-deep .mat-paginator-icon {
  height: 1.5vw!important;
  width : 1.5vw!important;
  font-size: 1.5vw!important;
  line-height: 1vw !important;
}
::ng-deep .myPaginator .mat-form-field {
  width : 10vw!important;
}

::ng-deep .mat-select-panel {
  max-height: 30vh !important;
  max-width: 2vw!important;
}
//button
::ng-deep .mat-paginator .mat-icon-button{
 
  height: 3.5vw!important;
  width :3.5vw!important;
  font-size: 3.5vw!important;
  line-height: 1vw!important;
}

*{
  font-size: 1vw!important;
}

  .circleButton{
    height: 3vw!important;
    width : 3vw!important;
    background-color : $button-accent!important;
    color: white;
    position: fixed; 
    left: 8.5vw; 
    top : 50vh; 
    height: 3vw; 
    width: 3vw;
    border-color: $button-accent;
    border-radius: 50%;
  }

  ::ng-deep .myButton .mat-icon{
    color: white;
    height: 1vw!important;
    width : 1vw!important;
    font-size: 1vw!important;
    line-height: 0.5vw !important;
}
::ng-deep .myButton.mat-icon-button {
  background-color: $button-accent!important;
  height: 3vw!important;
  width :3vw!important;
  font-size: 3vw!important;
  line-height: 2vw!important;
}


