
<button mat-icon-button *ngIf="admin" routerLink='/makeNews' 
style="position: relative; left: 8.5vw; top : 18vw;" class="myButton">
    <mat-icon>edit</mat-icon>
</button>
<div class="container" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="1.5vw">
    <div fxFlex fxFlexAlign="center" >
        <mat-form-field appearance="outline" style="width:50vw;" >
          <input matInput type="text" [(ngModel)]="searchWord" (input)="searchThis()"
           placeholder="{{'searchNews' | transloco}}"  style="text-align: right;">
        </mat-form-field>
      </div>
    <div fxFlex *ngFor="let n of obs | async" dir="rtl">
        <mat-card  style="width:30vw;" [routerLink]="['/newsDetail', n._id]">
            <mat-card-header>
                <mat-card-title>
                    <h3>{{n.title}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{url +n.image}}">
            <mat-card-content >
                <div [innerHtml] = "n.content" dir="rtl" class="module ftellipsis"></div>
                <a [routerLink]="['/newsDetail', n._id]" style="font-size: 18px;font-weight: bold;">
                    {{'readMore' | transloco}}</a>
            </mat-card-content>
        </mat-card>
        <br>
    </div>
    
<mat-paginator class="myPaginator" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true" ></mat-paginator>
</div>