<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container" style="width: 1000px; height: 1000px; margin-bottom: 100px;">
    <div id="tradingview_bac65"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">

    </script>
  </div>
  <!-- TradingView Widget END -->