$background-dark:rgb(42, 77, 105);
.strDiv{
    height :60vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(222, 246, 255)!important;  
    
}
.strDivElement{
    margin: 0.5vw;
    height: 10vh; 
    overflow-y: auto;
    border: 2px solid $background-dark ;
    border-radius: 2%;
    width:10vw;
}
.elementLabel{
    margin: 0.5vw;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.2em 0px !important; width: 10vw!important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

*{
    font-size: 1vw!important;
}

