<div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5vw" >
  <!--lef side menu-->
  <div id="left_menu" fxFlex="13" *ngIf="designedStrategies && purchasedStrategies && testStrategies">
    <div class="strDiv" fxHide.lt-lg>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px" style="height: 60vh;">
        <div fxFlex fxFlexAlign="stretch">
          <mat-form-field appearance="outline" >
            <input matInput type="text" [(ngModel)]="searchWord" (input)="searchThis()"
             placeholder="{{'search' | transloco}}"  style="text-align: right;">
          </mat-form-field>
        </div>
        <div fxFlex>
          <div class="elementLabel">{{'designedByMe' | transloco}}</div>
          <mat-selection-list #shoes [multiple]="false"  class="strDivElement">
            <mat-list-option *ngFor="let strName of designedStrategies" (click)="loadStrategy(strName)">
              {{strName}}
            </mat-list-option>
          </mat-selection-list>    
        </div>
        <div fxFlex>
          <div  class="elementLabel">{{'purchased' | transloco}}</div>
          <mat-selection-list #shoes [multiple]="false"  class="strDivElement">
            <mat-list-option *ngFor="let strName of purchasedStrategies" [routerLink]="['/testPackage',strName]">
              {{strName}}
            </mat-list-option>
          </mat-selection-list>
          
        </div>
        <div fxFlex >
          <div  class="elementLabel">{{'forSell' | transloco}}</div>
          <mat-selection-list #shoes [multiple]="false" class="strDivElement">
            <mat-list-option *ngFor="let strName of testStrategies"  (click)="loadStrategy(strName)">
              {{strName}}
            </mat-list-option>
          </mat-selection-list>    
        </div>
      </div>
    </div>
  </div>






<!--user menu-->
  <div fxFlex="15" id="user_menu" fxHide.lt-lg>
    <div  class="matTree">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" >
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" >
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          <div (mouseenter)="mouseEnterBlock(node.name , node.id)"  
          (mouseleave)="mouseLeaveBlock()"
          [dndDraggable]="draggable.data"
          [dndEffectAllowed]="draggable.effectAllowed"
          [dndDisableIf]="draggable.disable"
          > 
            <div dndDragImageRef class="rectangle">{{node.name}}</div>
          </div>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </mat-tree-node>
      </mat-tree>
    </div>
  </div>




  
  <!--toolbar middle menu-->
  <div id="middle_menu" class="strategyToolbar">
    <div fxLayout="column" fxLayoutGap="0.1vw" fxLayoutAlign="center center">
      <div fxFlex >
        <button mat-icon-button  (click) = "saveStrategy()">
          <span class="fa fa-save fa-2x"></span>
        </button>
      </div>
      <div fxFlex >
        <button mat-icon-button (click) = "openLoadDialog();">
          <span class="fa fa-folder-open fa-2x"></span>
        </button>
      </div>  
      <div fxFlex>
        <button mat-icon-button   (click)="run()">
          <span class="fa fa-play fa-2x"></span>
        </button>
      </div>   
      <div fxFlex>
        <button mat-icon-button (click)="copy()">
          <span class="fa fa-copy fa-2x"></span>
        </button>
      </div>      
      <div fxFlex>
        <button mat-icon-button (click)="delete()">
          <span class="fa fa-trash fa-2x"></span>
        </button>
      </div>
      <div fxFlex>
        <button mat-icon-button (click)="forSell()">
          <span class="fa fa-shopping-cart fa-2x"></span>
        </button>
      </div> 
      <div fxFlex>
        <button mat-icon-button (click)="selectCollectionNames()">
          <span class="fa fa-plus fa-2x"></span>
        </button>
      </div>                
    </div>
  </div>



<!--flow chart diagram-->
  <div id="diagram" fxFlex class="diagram"
    dndDropzone
    (dndDrop)="onDrop($event)">
      <div>
          <ngx-diagram  #diagram  (selected)="selected($event)" (connected)="connected($event)"
          (click)="onAreaMouseClick($event)" (dblclick)="onAreaMousedblClick($event)"
          (mousemove)="onWindowMouseMove($event)">
              <ng-template let-node="node">        
                <div class="rectangle"  (click) = "onClick($event, node)"
                (mouseup)="onNodeMouseUp($event,node.id)"
                (mousedown)="onNodeMouseDown($event,node.id)">{{node.name}}</div>
              </ng-template>
          </ngx-diagram>
      </div>
  </div>



  <!--right form menu-->
  <div id="right-form" fxFlex="300 px" *ngIf="questions$" fxHide.lt-lg>
    <app-dynamic-form [questions]="questions$ | async"[change]="changeQuestion" (payLoad)="setBlockProperty($event)"></app-dynamic-form>
  </div>
</div>

