
<div dir="rtl">
    <h1 mat-dialog-title>
      {{'signup' | transloco}}
    </h1>
    <mat-divider></mat-divider>
    <br>
   
      <form novalidate [formGroup] = "signUpForm" #sFrom="ngForm" (ngSubmit)="onSubmitSignUpForm()">
        
        <mat-dialog-content>
          <div style="display: flex;" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5vw">
            <mat-form-field appearance="outline" >
              <mat-label>{{'email' | transloco}}</mat-label>
              <input matInput formControlName="email" placeholder="{{'email' | transloco}}" type="email" email required>
              <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" >
              <mat-label>{{'password' | transloco}}</mat-label>
              <input matInput formControlName="password" placeholder="{{'password' | transloco}}" type="password" 
               required>
              <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
            </mat-form-field>
            <div mat-dialog-actions>
              <div style="display: flex;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5vw">
                <button class="primaryButton" type="submit">{{'signup' | transloco}}</button>
                <button class="accentButton" mat-dialog-close color="accent">{{'close' | transloco}}</button>
              </div>
            </div>  
          </div>
          <!--
          <table style="width: 100% ; height: inherit;">
          <tr>
            <td>
              <mat-form-field appearance="outline" style="width: 100% ; ">
                <mat-label>{{'email' | transloco}}</mat-label>
                <input matInput formControlName="email" placeholder="{{'email' | transloco}}" type="email" email required>
                <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field appearance="outline" style="width:100%">
                <mat-label>{{'password' | transloco}}</mat-label>
                <input matInput formControlName="password" placeholder="{{'password' | transloco}}" type="password" 
                 required>
                <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          </table>
        </mat-dialog-content>
        <table mat-dialog-actions>
          <tr >
            <td>
              <button class="primaryButton" type="submit">{{'signup' | transloco}}</button>
            </td>
            <td>
              <button class="accentButton" mat-dialog-close color="accent">{{'close' | transloco}}</button>
            </td>
          </tr>
        </table>
        -->
        </mat-dialog-content>
      </form>
  
  
  </div>
  <!--<div dir="rtl">
    <h1 mat-dialog-title>
      ثبت نام
    </h1>
    <mat-divider></mat-divider>
    <br>
   
      <form novalidate [formGroup] = "signUpForm" #sFrom="ngForm" (ngSubmit)="onSubmitSignUpForm()">
        
        <mat-dialog-content>
          <table style="width: 100% ; height: inherit;">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label> نام </mat-label>
                <input matInput formControlName="firstName" placeholder="نام" type="text" required>
                <mat-error *ngIf="formErrors.firstName">{{formErrors.firstName}}</mat-error>
               </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label> نام خانوادگی </mat-label>
                <input matInput formControlName="lastName" placeholder="نام خانوادگی" type="text" required>
                <mat-error *ngIf="formErrors.lastName">{{formErrors.lastName}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label> نام کاربری </mat-label>
                <input matInput formControlName="username" placeholder="نام کاربری" type="text" required>
                <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label> کد ملی </mat-label>
                <input matInput formControlName="nationalCode" placeholder="کد ملی" type="text" required>
                <mat-error *ngIf="formErrors.nationalCode">{{formErrors.nationalCode}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label> ایمیل </mat-label>
                <input matInput formControlName="email" placeholder="ایمیل" type="email" email required>
                <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label> شماره موبایل </mat-label>
                <input matInput formControlName="telNumber" placeholder="شماره موبایل" type="text" 
                pattern="[0-9]*" required>
                <mat-error *ngIf="formErrors.telNumber">{{formErrors.telNumber}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label> رمز عبور </mat-label>
                <input matInput formControlName="password" placeholder="رمز عبور" type="password" 
                 required>
                <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          </table>
        </mat-dialog-content>
        <table mat-dialog-actions>
          <tr >
            <td>
              <button mat-flat-button color="primary" type="submit">ثبت نام </button>
            </td>
            <td>
              <button mat-flat-button mat-dialog-close color="accent"> بستن</button>
            </td>
          </tr>
        </table>
      </form>
  
  
  </div>-->
  