
<form novalidate #makeNewsForm="ngForm" (ngSubmit)="publish()">
  <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="0.5vw">
    <div fxFlex  >
      <app-news-image-uploader (imageNameChange)="imageChange($event)" [imageName]="imageName"></app-news-image-uploader>
    </div>
    <div fxFlex>
      <div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5vw">
        <div FxFlex fxFlexAlign="end" dir="rtl">
          <mat-form-field>
           <input matInput type="text" [(ngModel)]="title" name="title"  
           #titleT="ngModel" placeholder="عنوان">
          </mat-form-field> 
        </div>
        <div fxFlex dir="rtl" fxFlexAlign="end">
          <angular-editor [placeholder]="'متن خبر...'" [(ngModel)]="content"
           name="content" #contentT="ngModel" [config]="editorConfig" required></angular-editor>
        </div>
        <div fxFlex fxFlexAlign="end">
          <button class="primaryButton" type="submit">انتشار</button>
        </div>
        <div [innerHTML] = "content" dir="rtl"></div>
      </div>
    </div>
  </div>
</form>


