$lt-gray: #ddd;
$background-dark:rgb(42, 77, 105);
$background-light: rgb(76, 134, 180);
$background-pale:rgb(222, 246, 255);
$button-primary : rgb(33, 150, 243);
$button-accent : rgb(255, 64, 129);

.primaryButton{
    font-size:1vw!important;
    width: fit-content!important;
    height: fit-content!important;
    background-color: $button-primary;
    color: white;
    border: 1px solid  $button-primary;
    border-radius: 5%;
  }
  .primaryButton:focus{
      box-shadow: 0px 0.25vw 1.5vw rgb(4, 81, 153);
      outline: none;
  
  } 
  * {
      font-size: 1vw!important;
  }
  mat-form-field{
      width: 60vw!important;
  }

  .angular-editor-toolbar {
      color: darkblue!important;
      background-color: green!important;
  }