
<div class="container" fxLayout="row" fxLayout.lt-md="column"  fxLayoutAlign="space-around center" fxLayoutGap="1.5vw">
  <div fxFlex fxFlexAlign.gt-sm="center">
    <div class="container" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="0.1vw">
      <div fxFlex >
        <app-image-uploader *ngIf="initialValues.image" [imageName]= "initialValues.image" 
        (imageNameChange) = "imageChange($event)"></app-image-uploader>
      </div>
      <div fxFlex="100%" *ngIf="admin">
        <button class="primaryButton" routerLink="/makeNews">{{'addNews' | transloco}}</button>
      </div>
    </div>
  </div>

  <div fxFlex >
    <form novalidate [formGroup]="profileForm" (ngSubmit)="updateUserProfile()" 
    *ngIf="profileForm && visibility "
      class="container" fxLayout="column"  fxLayoutAlign="space-around stretch" dir="rtl">
    
      <mat-form-field appearance="outline">
        <mat-label>{{'firstName' | transloco}} </mat-label>
        <input matInput formControlName="firstName" placeholder="{{'firstName' | transloco}}" type="text" required>
        <mat-error *ngIf="formErrors.firstName">{{formErrors.firstName}}</mat-error>
       </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'lastName' | transloco}} </mat-label>
        <input matInput formControlName="lastName" placeholder="{{'lastName' | transloco}}" type="text" required>
        <mat-error *ngIf="formErrors.lastName">{{formErrors.lastName}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> {{'username' | transloco}}</mat-label>
        <input matInput formControlName="username" placeholder="{{'username' | transloco}}" type="text" required>
        <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'nationalCode' | transloco}}</mat-label>
        <input matInput formControlName="nationalCode" placeholder="{{'nationalCode' | transloco}}" type="text" required>
        <mat-error *ngIf="formErrors.nationalCode">{{formErrors.nationalCode}}</mat-error>
      </mat-form-field>
      
        <mat-form-field appearance="outline" id="date">
          <input matInput name="birth" formControlName="birthDay" [dpDayPicker]="config" theme="dp-material" attachTo="#date"/>
        </mat-form-field>
      
      

      <mat-form-field appearance="outline">
        <mat-label>{{'email' | transloco}}</mat-label>
        <input matInput formControlName="email" placeholder="{{'email' | transloco}}" type="email" email required>
        <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'telNumber' | transloco}}</mat-label>
        <input matInput formControlName="telNumber" placeholder="{{'telNumber' | transloco}}" type="text" 
        pattern="[0-9]*" required>
        <mat-error *ngIf="formErrors.telNumber">{{formErrors.telNumber}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'password' | transloco}}</mat-label>
        <input matInput formControlName="password" placeholder="{{'password' | transloco}}" type="password" 
         >
        <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
      </mat-form-field>

      <button class="primaryButton" type="submit">{{'submit' | transloco}}</button>

    </form>
    
  </div>
  <div fxFlex class="container"  *ngIf="visibility" fxFlexAlign.gt-sm="start">
    <app-reset-password></app-reset-password>
  </div>
</div>

