
<div class="container" fxLayout="column" fxLayoutALign="center center" fxLayoutGap="0.5vw">
    <div fxFlex fxFlexAlign="center" >
    <!--search bar-->
    </div>
    <div fxFlex>
        <div class="container" fxLayout="row" fxLayout.lt-lg="column" fxLayoutALign="center center" fxLayoutGap="0.5vw">
            <!--select-->
            <div fxFlex>
                <form>
                    <div class="container" fxLayout="column" fxLayoutALign="center center" fxLayoutGap="0.5vw">
                        <div fxFlex="100">
                            <mat-form-field appearance="fill"  >
                                <mat-label>{{'selectPackage' | transloco}}</mat-label>
                                <mat-select  name="package" [(value)]="selectedPackage" >
                                    <input (keyup)="searchPackage($event.target.value)"  placeholder="{{'search' | transloco}}">
                                    <mat-option *ngFor="let strategy of strategies" 
                                    [value]="strategy.Name">{{strategy.Name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" >
                            <mat-form-field appearance="fill" >
                                <mat-label>{{'selectStock' | transloco}}</mat-label>
                                <mat-select  [(ngModel)]="selectedStock" name="package">
                                    <input (keyup)="searchStock($event.target.value)" placeholder="{{'search' | transloco}}">
                                    <mat-option *ngFor="let stock of stocks" 
                                    [value]="stock">{{stock}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex>
                            <mat-form-field appearance="outline" id="date">
                                <input matInput dir="rtl" [(ngModel)]="startDate"  [dpDayPicker]="config"  mode="day" name="stDate"
                                placeholder="{{'startDate' | transloco}}" theme="dp-material"
                                 theme="dp-material" attachTo="#date">
                            </mat-form-field>
                        </div>
                        <div fxFlex>
                            <mat-form-field appearance="outline" id="eddate">
                                <input matInput dir="rtl" [(ngModel)]="endDate"  mode="day" name="edDate"
                                placeholder="{{'endDate' | transloco}}" theme="dp-material" [dpDayPicker]="config"  attachTo="#eddate" >
                            </mat-form-field>
                        </div>
                        <div fxFlex>
                            <button class="primaryButton" (click)="runStrategy()">
                                {{'testPackage' | transloco}}</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--output-->
            <div fxFlex>
                <div class="container" fxLayout="column" fxLayoutALign="center center" fxLayoutGap="0.5vw">
                    <div fxFlex *ngIf="run">
                        <app-trading-view-ai [collectionName]="selectedStock"></app-trading-view-ai>
                    </div>
                    <div fxFlex>
                        <div *ngIf="run">
                            <app-run-strategy [collectionName]="selectedStock" [strName]="selectedPackage"
                            [startDate]="startDay"  [endDate]="endDay">

                            </app-run-strategy>
                        </div>

                    </div> 
                </div>
            </div>
        </div>
    </div>

</div>
