$lt-gray: #ddd;
$background-dark:rgb(42, 77, 105);
$background-light: rgb(76, 134, 180);
$background-pale:rgb(222, 246, 255);
$button-primary : rgb(33, 150, 243);
$button-accent : rgb(255, 64, 129);

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
mat-form-field{
  width : 30vw;
  font-size:1.5vw!important;
}
input{
    width : 27vw;
    font-size:1.5vw!important;
}

  
  ::ng-deep .mat-select-panel {
    max-height: 50vh !important;
    max-width: 10vw!important;
  }
  
mat-label {
  font-size: 1.5vw!important;
}
.primaryButton{
  font-size:1.5vw!important;
  width: fit-content!important;
  height: fit-content!important;
  background-color: $button-primary;
  color: white;
  border: 1px solid  $button-primary;
  border-radius: 5%;
}
.primaryButton:focus{
    box-shadow: 0px 0.25vw 1.5vw rgb(4, 81, 153);
    outline: none;

} 