<div class="container" fxLayoutAlign="space-around center" fxLayoutGap="1.25vw" fxLayout="column">

    <div fxFlex >
    
      <div class="example-container">
        <table mat-table [dataSource]="dataSource" matSort >
    
          <!-- ستون قیمت واحد -->
          <ng-container matColumnDef="unitPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'unitPrice' | transloco}}</th>
            <td mat-cell *matCellDef="let row" > {{row.unitPrice}} </td>
          </ng-container>
    
          <!-- ستون مقدار -->
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'value' | transloco}}</th>
            <td mat-cell *matCellDef="let row" >   {{row.value}} </td>
          </ng-container>
    
          <!-- ستون قیمت کل -->
          <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'totalPrice' | transloco}}</th>
            <td mat-cell *matCellDef="let row" > {{row.totalPrice}} </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns; "></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      </div>
    
      </div>  

      
    </div>