$lt-gray: #ddd;
$background-dark:rgb(42, 77, 105);
$background-light: rgb(76, 134, 180);
$background-pale:rgb(138, 194, 240);
.example-container {
    height: 50vh;
    overflow: auto;
  }
  
  table {
    text-align: center!important;
    width: 30vw;
    border : 0.1vw solid $background-light;
    padding: 0.5vw!important;
  }
  ::ng-deep .mat-sort-header-container{
   
    justify-content: center!important;
    display: flex;
    padding: 0.25vw;
    color: black!important;
  }
  ::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    font-size: 0.5vw!important;
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
    color: black!important;
  }  
  .mat-sort-header-stem{
    height : 0.5vh!important;
    width: 0.1vw!important;;
  }
  .mat-sort-header-arrow {
    font-size: 0.5vw!important;
  }
  .mat-cell{
    font-size: 1.5vw!important;
  }
  td.mat-cell {
    height : 1vw!important;
    padding: 0.1vw!important;
  }
  .mat-header-cell {
    font-size: 1.5vw!important;
  }
  .mat-row:nth-child(even){
    background-color: $background-pale;
    padding:0.1vw!important;
    font-weight: bold!important;
    }

.mat-row:nth-child(odd){
    background-color:$lt-gray;
    padding: 0.1vw!important;
    font-weight: bold!important;
    }

