$lt-gray: #ddd;
$background-dark:rgb(42, 77, 105);
$background-light: rgb(76, 134, 180);
$background-pale:rgb(222, 246, 255);
$button-primary : rgb(33, 150, 243);
$button-accent : rgb(255, 64, 129);


.primaryButton{
    font-size:1vw!important;
    width: fit-content!important;
    height: fit-content!important;
    background-color: $button-primary;
    color: white;
    border: 1px solid  $button-primary;
    border-radius: 5%;
  }
  .primaryButton:focus{
      box-shadow: 0px 0.25vw 1.5vw rgb(4, 81, 153);
      outline: none;
  
  } 
  ::ng-deep .shopButton .mat-icon{
      height: 2vw!important;
      color : black!important;
      width : 2vw!important;
      font-size: 2vw!important;
      line-height: 1.5vw !important;
  }
  ::ng-deep .shopButton.mat-icon-button {
    height: 4vw!important;
    width :4vw!important;
    font-size: 4vw!important;
    line-height: 3vw!important;
  }
 .choosePlan{
      width : 15vw!important;
  }
  *{
      font-size: 1vw!important;
  }

 .avatarContainer {
      display: grid!important;
      
  }

  .shopCard{
    box-shadow: 0px 0.25vw 1vw rgb(4, 81, 153);
    padding: 0.6vw!important;
    border-radius: 0.25vw!important;
    width: 20vw!important;  
}