

<div class="container"fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field appearance="outline" style="width: 80vw; align-items: center;" >
    <img src="{{address + 'search-icon.png'}}" style="width: 3vw; height: 3vw;">
    <input matInput type="text" [(ngModel)]="searchWord" (input)="searchThis()"
     placeholder="جست و جو بر اساس نام سازنده یا نام استراتژی"  style="text-align: right;">
  </mat-form-field>
</div>
<div  style="margin: 1.5vw;position: relative; right:0.5vw;;" *ngIf="forSellStrategies"  dir="rtl">
  <mat-grid-list [cols]="breakPoint" rowHeight="20vw" class="container" [gutterSize]="'2vw'" >
    <mat-grid-tile *ngFor="let strategy of forSellStrategies" class="shopCard">
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.5vw" dir="rtl">
        <!--avatar-->
        <div fxFlex>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5vw">
            <!--avatar-->
            <div fxFlex fxFlexOffset="1.5vw">
              <ngx-avatar src="{{baseUrl + 'images/profile/'+ strategy.maker.image}}" [round]="true" [size]="avatar">
              </ngx-avatar>
            </div>
            <!--username & packageName-->
            <div fxFlex>
              <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="0.01vw">
                <!--user name-->
                <div fxFlex>
                  <p>{{strategy.Name}}</p>
                </div>
                <!--packageName-->
                <div fxFlex>{{strategy.maker.username}}</div>
              </div>
            </div>
          </div>
        </div>
        <!--info-->
        <div fxFlex>
          <div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.5vw">
            <!--stars-->
            <div fxFlex>
              <div class="container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5vw">
                <div fxFlex style="font-size: larger;">{{'popularity' | transloco}}</div>
              </div>
            </div>
            <!--price-package Test-->
            <div fxFlex>
              <div class="container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0.5vw">
                <div fxFlex>
                  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0.1vw">
                      <div fxFLex>{{'price' | transloco}} :</div>
                      <div fxFLex>{{strategy.price }}</div>
                      <div fxFlex>{{'toman' | transloco}}</div>
                  </div>
                </div>
                <div fxFLex>
                  <button class="primaryButton" [routerLink]="['/testPackage','all']">
                    {{'testPackage' | transloco}}</button>
                </div>
              </div>
            </div>
            <!--choosePlan-->
            <div fxFlex>
              <div class="container" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0.5vw">
                <div fxFlex>
                  <mat-form-field class="choosePlan">
                    <mat-label>{{'choosePlan' | transloco}}</mat-label>
                    <mat-select (selectionChange)="onPlanChange($event,strategy)">
                      <mat-option value="weekly">
                        {{'weekly' | transloco}}
                      </mat-option>
                      <mat-option value="monthly">
                        {{'monthly' | transloco}}
                      </mat-option>
                      <mat-option value="threeMonth">
                        {{'threeMonth' | transloco}}
                      </mat-option>
                      <mat-option value="sixMonth">
                        {{'sixMonth' | transloco}}
                      </mat-option>
                      <mat-option value="yearly">
                        {{'yearly' | transloco}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex>
                  <button class="shopButton" mat-icon-button (click)="purchase(strategy.Name)">
                    <mat-icon>add_shopping_cart</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </mat-grid-tile>
  </mat-grid-list>
</div>  
