<h2 mat-dialog-title style="align-self: center;">
    <div class="container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
      <div fxFlex>
        <mat-form-field appearance="outline" style="width:500px;height: 20px;" >
          <input matInput type="text" [(ngModel)]="searchWord" (input)="searchThis()"
           placeholder="{{'searchSymbol' | transloco}}"  style="text-align: right;">
        </mat-form-field>
      </div>
    </div>
  </h2>
    <mat-divider></mat-divider>
  <mat-dialog-content>
    <mat-selection-list #list [(ngModel)]="selectedOptions" (ngModelChange)="onNgModelChange($event)" dir="rtl">
      <mat-list-option *ngFor="let colName of collectionNames" [value]="colName">
        {{colName}}
      </mat-list-option>
  </mat-selection-list>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)= "submitDialog()">Submit</button>
    <button mat-button (click)= "closeDialog()">Cancel</button>
  </mat-dialog-actions>