
<div class="container"  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" dir="rtl">
  <div fxFlex>
    <mat-form-field appearance="outline">
      <input matInput type="number" placeholder="مبلغ افزایش" [(ngModel)]="increament">
    </mat-form-field>
  </div>
  <div fxFlex fxFlexAlign="center">
    <button mat-flat-button (click)="increase()" style="height: 40px;">افزایش موجودی</button>
  </div>
  <div fxFlex></div>
  <div fxFlex></div>
  <div fxFlex></div>
  <div fxFlex></div>
  <div fxFlex></div>
  </div>
  <p>*</p><br>
  <p>*</p><br>
  <p>*</p><br>
  <p>*</p><br>
  <p>*</p><br>
  <p>*</p><br>