/* You can add global styles to this file, and also import other style files */
@import './app-theme.scss';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
//@import '~css-star-rating/scss/star-rating';

$lt-gray: #ddd;
$background-dark:rgb(42, 77, 105);
$background-light: rgb(76, 134, 180);
$background-pale:rgb(101, 171, 230);
$background-white : rgb(255, 255, 255);
$primary-color-dark:  rgb(117, 22, 169);
$primary-color:   rgb(151, 102, 229)    ;
$primary-color-light:  rgb(122, 121, 249);
$primary-color-text:   #FFFFFF;
$accent-color:         rgb(224, 128, 173);
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        rgb(101, 171, 230);

*{
    font-family:  BNazanin,'BNazanin',Tahoma,Verdana, sans-serif, sans-serif;
}

body{
    padding : 0;
    margin : 0;
    
}

.container {
    margin : 0.5vw;
    display : flex;
}




@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}



.background-primary {
    background-color: $background-dark!important;
  }
.background-accent {
    background-color: $accent-color!important;
  }
.text-floral-white {
    color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}

.pallete{
    background-color:rgb(48, 42, 42);
    height : 80vh;
    border: 2px solid;
    border-top-color: cornflowerblue;
    border-bottom-color: cornflowerblue;
    border-left-color: cornflowerblue;
    border-right-color: cornflowerblue;
    margin : 20px;
    display : flex;
}
.diagram{
    background-color:$background-white;
    height :60vh;
    border: 2px solid;
    border-top-color:$background-dark;
    border-bottom-color:$background-dark;
    border-left-color: $background-dark  ;
    border-right-color:$background-dark  ;
    margin-top : 30px;
    margin-right : 30px;
    margin-bottom : 30px;
}
.circle{
    background-color: rgb(204, 8, 100);
    color : white;
    height:50px;
    width:50px;
    border-radius: 100%;
    margin:10px;
    padding: 10px;
    text-align: center;
    
}
.rectangle{
    background-color:rgb(151, 227, 255);
    color : $background-dark;
    height:auto;
    min-height: 1.6vw;
    border: 0.4vw solid;
    border-top-color:$background-dark;
    border-bottom-color:$background-dark;
    border-left-color:$background-dark ;
    border-right-color:$background-dark  ;
    margin: 1vw;
    line-height: 1vw;
    text-align: center;
    transition: 0.3s;
    border-radius: 15%;
    font-family: Arial, Helvetica, sans-serif!important;
    font-size: 1vw;
    width: 7vw;
}


.matTree{
     height: 60vh;
     overflow-y: auto;
     width: 15vw;
}



.diamond{
    background-color: rgb(204, 8, 100);
    min-width: 50px;
    min-height: 50px;
    color : white;
    margin: 20px;
    padding: 20px;
    text-align: center;
    transform: rotate(45deg);
}
.diamondText{
    padding: 15px;
    align-items: center;
    transform: rotate(-45deg);
}
.example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
.example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.block{
    border: 4px solid rgb(78, 78, 173);
    background-color: rgb(78, 78, 173) ;
}
.strategyToolbar{
    width : 2.5vw;
    height : 60vh;
    background-color: $background-pale;
    border: 1px solid;
    border-top-color:$background-pale;
    border-bottom-color:$background-pale;
    border-left-color: $background-pale  ;
    border-right-color:$background-pale  ;

}
mat-icon-button{
    color: $accent-color;
}

mat-tree{
    background-color: rgb(222, 246, 255)!important;
}


//styling header toolbar



