<div  fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="0.4vw" dir="rtl" >
    <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="35vw">
        <div fxFlex >
            <img src={{homelogoImageAddress}} style="width: 10vw; height: 6vw;margin-right: 0.5vw; margin-top: 0.5vw;">
        </div>
        <div fxFlex="200" >
            <h1 class="name-logo">{{'logoName' | transloco}}</h1>
        </div>
        <div fxFlex>
            <div style="display: flex;" fxLayout="column" fxLayoutAlign="end end" fxLayoutGap="0.1vw">
              <div style="display: flex;" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1vw">
                <a (click)="changeLang('fa')">فارسی</a>
                <a>
                  <ngx-avatar src="{{address+ 'iran.png'}}" [round]="true" [size]="flag"
                  (click)="changeLang('fa')" ></ngx-avatar>
                </a>
              </div>
              <div style="display: flex;" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1vw">
                <a (click)="changeLang('en')">English</a>
                <a>
                  <ngx-avatar src="{{address+ 'uk.png'}}" [round]="true" [size]="flag" 
                  (click)="changeLang('en')"></ngx-avatar>       
                </a>
              </div>
            </div>     
          </div>
    </div>


    <div fxFlex>
        <div  fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0.3vw">
            <div fxFlex="20" class="toolbar">
                <div style="display: flex;" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.3vw">
                    <div fxFlex>
                        <a routerLink="/strategy"><button class="toolbar-button" 
                         (click)="clickProtected()" >
                         <img src="{{address + 'robot.png'}}" style="width: 2vw; height: 2vw;"/>
                         {{'buildRobot' | transloco}}
                        </button></a>
                    </div>
                    <div fxFlex>
                        <a routerLink="/aiEngine"><button class="toolbar-button" >
                            <img src="{{address + 'engine.png'}}" style="width: 2vw; height: 2vw;"/>
                            {{'ArtificialIntelligenceEngine' | transloco}}
                        </button></a>
                    </div>
                    <div fxFlex>
                        <a routerLink="/portfolio"><button class="toolbar-button">
                            <img src="{{address + 'bascket.png'}}" style="width: 2vw; height: 2vw;"/>
                            {{'smartBascket' | transloco}}
                        </button></a>
                    </div>
                    <div fxFlex>
                        <a routerLink="/digitalCurrency"><button class="toolbar-button" >
                            <img src="{{address + 'bitcoin.png'}}" style="width: 2vw; height: 2vw;"/>
                            {{'digitalCurrency' | transloco}}
                        </button></a>
                    </div> 
                    <div fxFlex>
                        <a routerLink="/news"><button class="toolbar-button">
                            <img src="{{address + 'news.png'}}" style="width: 2vw; height: 2vw;"/>
                            {{'Fundamental News' | transloco}}
                        </button></a>
                    </div>
                    <div fxFlex>
                        <a routerLink="/technical"><button class="toolbar-button">
                            <img src="{{address + 'btech.png'}}" style="width: 2vw; height: 2vw;"/>
                            {{'Technical Tools' | transloco}}
                        </button></a>
                    </div>
                    <div fxFlex>
                        <a routerLink="/shop"><button class="toolbar-button"
                        (click)="clickProtected()">
                        <img src="{{address + 'buy.png'}}" style="width: 2vw; height: 2vw;"/>
                        {{'Shop' | transloco}}
                    </button></a>
                    </div> 
                    <div fxFlex>
                        <a routerLink="/tutorial"><button class="toolbar-button">
                            <img src="{{address + 'learning.png'}}" style="width: 2vw; height: 2vw;"/>
                            {{'Tutorial' | transloco}}
                         </button></a>
                    </div>
                    <div fxFlex>
                        <a routerLink="/adforum"><button   class="toolbar-button" >
                            <img src="{{address + 'chat.png'}}" style="width: 2vw; height: 2vw;"/>
                            {{'AnalysisAndDiscussionForum' | transloco}}
                        </button></a>
                    </div>
                    <div fxFlex>
                        <a routerLink="/tour"><button   class="toolbar-button" >
                            <img src="{{address + 'facilities.png'}}" style="width: 2vw; height: 2vw;"/>
                            {{'Tour' | transloco}}
                        </button></a>
                    </div>
                </div>
            </div>
            <div fxFlex>
                <div class="divImg"><img src={{homeImageAddress}} style="width: 90vw; height: 60vh;">
                    <div class="ImgText" *ngIf="message">{{'guardMessage' | transloco}}</div>
                    <div class="form" *ngIf="!isLoggedIn">
                        <form novalidate #lForm = "ngForm" [formGroup]="logInForm" >
                            <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.25vw">
                                <div fxFlex>
                                    <div  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.25vw">
                                        <div fxFlex="70" *ngIf="signUpResult">{{'signUpResult' | transloco}}</div>
                                        <div fxFlex>
                                            <mat-form-field appearance="outline" style="width: 11.5vw;">
                                                <mat-label>{{'email' | transloco}}</mat-label>
                                                <input matInput  formControlName = "email" 
                                                type="text" [placeholder]="'email' | transloco" email required>
                                                <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex>
                                            <mat-form-field appearance="outline" class="homeIcon">
                                                <mat-label>{{'password' | transloco}}</mat-label>
                                                <input matInput [placeholder]="'password' | transloco"  
                                                [type]="hide ? 'password' : 'text'" formControlName="password" required>
                                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>                                                
                                                <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
                                            </mat-form-field>            
                                        </div>
                                    </div> 
                                </div>
                                <div fxFlex>
                                    <div  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5vw">
                                        <div fxFlex><button class="primaryButton" (click)="onSubmitLogInForm()">{{'login' | transloco}}</button></div>
                                        <div fxFlex></div>
                                        <div fxFlex><button class="primaryButton" (click)="onSubmitSignUpForm()">{{'signup' | transloco}}</button></div>
                                        <div fxFlex></div>
                                    </div>
                                </div>   
                            </div> 
                        </form>           
                    </div>
                </div>    
            </div>            
        </div> 
    </div>
</div>


