$lt-gray:	rgb(216, 226, 228);
$background-dark:rgb(42, 77, 105);
$background-light: rgb(76, 134, 180);
$background-pale:rgb(222, 246, 255);
$blue-toolbar : rgb(26, 78, 128);
$background-white : rgb(255, 255, 255);
$primary-color-dark: rgb(0, 75, 131);
$primary-color:   rgb(151, 102, 229)    ;
$primary-color-light:  rgb(180, 218, 190);
$primary-color-text:   #FFFFFF;
$accent-color:         rgb(224, 128, 173);
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        rgb(101, 171, 230);
$button-primary : rgb(33, 150, 243);
$button-accent : rgb(255, 64, 129);
$light-blue  : rgb(126, 182, 208);

.toolbar {
    height: 20vw;
}
.toolbar-button{
    background-color: $background-light!important;
    font-size:1.4vw!important;
    width: 15vw!important;
    min-height: 3vw!important;
    max-height:max-content;
    color: black;
    white-space: pre-line !important;
    border: none;
}
.toolbar-button:focus{
    outline: none;
} 
.toolbar-button:hover {
    background-color: $light-blue !important;
}   
* {
    background-color: $background-pale;
    font-size: 2vw!important;
}
.name-logo{
    font-size: 3vw!important;
    align-self: center!important;
    color: $primary-color-dark;
    font-weight: bolder;
    font-family: 'BNazanin',Tahoma,Verdana, sans-serif, sans-serif;
}
.form{
    position: absolute!important;
    top: 10%;
    left: 5%;
    padding: 1vw;
}
.divImg{
    position: relative;
}

mat-form-field{
    width : 20vw!important;
    font-size: 1.5vw!important;
}

.primaryButton{
    font-size:1.5vw!important;
    width: fit-content!important;
    height: fit-content!important;
    background-color: $lt-gray;
    color: black;
    border: 0.01vw $lt-gray;
    border-radius: 5%;
  }

  ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
  ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
  }
 
  ::ng-deep .homeIcon .mat-icon{
    color: rgb(7, 7, 7);
    height: 1vw!important;
    width : 1vw!important;
    font-size: 3vw!important;
    line-height: 0.5vw !important;
    align-self: center!important;
}