.file {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 2.5vw;
  }
  .file input {
    min-width: 14vw;
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  .file-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 1.5vw;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: .075rem solid #ddd;
    border-radius: .25rem;
    box-shadow: inset 0 .2rem .4rem rgba(0,0,0,.05);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .file-custom:after {
    content: "Choose file...";
  }
  .file-custom:before {
    position: absolute;
    top: -.075rem;
    right: -.075rem;
    bottom: -.075rem;
    z-index: 6;
    display: block;
    content: "Browse";
    height: 1.5vw;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #555;
    background-color: #eee;
    border: .075rem solid #ddd;
    border-radius: 0 .25rem .25rem 0;
  }
  
  /* Focus */
  .file input:focus ~ .file-custom {
    box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
  }
  
  dp-date-picker .input{
    background : red;
    height :200px!important;
  }

$lt-gray: #ddd;
$background-dark:rgb(42, 77, 105);
$background-light: rgb(76, 134, 180);
$background-pale:rgb(222, 246, 255);
$button-primary : rgb(33, 150, 243);
$button-accent : rgb(255, 64, 129);

.big-box{
   // border: 4px solid $background-dark;
    width: 70vw;
    background-color: $background-pale;
    margin: 20px;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
mat-form-field{
  width : 30vw;
  font-size:1.5vw!important;
}

mat-label {
  font-size: 1.5vw!important;
}
.primaryButton{
  font-size:1.5vw!important;
  width: fit-content!important;
  height: fit-content!important;
  background-color: $button-primary;
  color: white;
  border: 1px solid  $button-primary;
  border-radius: 5%;
}
.primaryButton:focus{
    box-shadow: 0px 0.25vw 1.5vw rgb(4, 81, 153);
    outline: none;

} 
.accentButton{
  font-size: 1.5vw!important;
  width: fit-content!important;
  height: fit-content!important;
  background-color: $button-accent;
  color: white;
  border: none;
  border-radius: 5%;
}
.accentButton:focus{
  box-shadow: 0px 0.25vw 1.5vw rgb(252, 5, 87);;
  outline: none;

} 

