
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5vw">

<div class="container" fxLayout="column" fxLayoutAlign="start start" fxFlexGap="0.5vw">
  <!--personalInfo-->
  <div fxFlex class="big-box">
    <mat-label>{{'personalInfo' | transloco}}</mat-label>
    <form novalidate [formGroup]="personalInfo"  *ngIf="personalInfo" (ngSubmit)="submit()">
      <div fxLayout="row" fxLayout.lt-lg="column"fxLayoutAlign="start start" fxLayoutGap="0.1vw" class="container">
        <!--firstColumn-->
        <div fxFlex>
          <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.5vw">
            <div fxFlex>
              <mat-form-field appearance="outline">
                <mat-label>{{'firstName' | transloco}} </mat-label>
                <input matInput formControlName="firstName" placeholder="{{'firstName' | transloco}}" type="text" required>
                <mat-error *ngIf="formErrors.firstName">{{formErrors.firstName}}</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field appearance="outline">
                <mat-label>{{'nationalCode' | transloco}}</mat-label>
                <input matInput formControlName="nationalCode" placeholder="{{'nationalCode' | transloco}}" type="text" required>
                <mat-error *ngIf="formErrors.nationalCode">{{formErrors.nationalCode}}</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field appearance="outline">
                <mat-label>{{'telNumber' | transloco}}</mat-label>
                <input matInput formControlName="telNumber" placeholder="{{'telNumber' | transloco}}" type="text" 
                pattern="[0-9]*" required>
                <mat-error *ngIf="formErrors.telNumber">{{formErrors.telNumber}}</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field appearance="outline">
                <mat-label>{{'address' | transloco}}</mat-label>
                <input matInput formControlName="address" placeholder="{{'address' | transloco}}" type="text"  >
                <mat-error *ngIf="formErrors.address">{{formErrors.address}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>  
        <!--secondColumn-->
        <div fxFlex>
          <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.5vw">
            <div fxFlex>
              <mat-form-field appearance="outline">
                <mat-label>{{'lastName' | transloco}} </mat-label>
                <input matInput formControlName="lastName" placeholder="{{'lastName' | transloco}}" type="text" required>
                <mat-error *ngIf="formErrors.lastName">{{formErrors.lastName}}</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field appearance="outline">
                <mat-label>{{'phone' | transloco}}</mat-label>
                <input matInput formControlName="phone" placeholder="{{'phone' | transloco}}" type="text"  >
                <mat-error *ngIf="formErrors.phone">{{formErrors.phone}}</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field appearance="outline" id="date">
                <input matInput name="birth" formControlName="birthDay" [dpDayPicker]="config" theme="dp-material" attachTo="#date"/>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!--bank-->
  <div fxFlex class="big-box">
    <mat-label>{{'bankInfo' | transloco}}</mat-label>
    <form novalidate [formGroup]="bankInfo"  *ngIf="bankInfo" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="start start" fxLayoutGap="0.5vw"
    (ngSubmit)="submit()"  class="container">
      <div fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>{{'cardNumber' | transloco}}</mat-label>
          <input matInput formControlName="cardNumber" placeholder="{{'cardNumber' | transloco}}" type="text"  >
          <mat-error *ngIf="formErrors.cardNumber">{{formErrors.cardNumber}}</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>{{'shabaCode' | transloco}}</mat-label>
          <input matInput formControlName="shabaCode" placeholder="{{'shabaCode' | transloco}}" type="text"  >
          <mat-error *ngIf="formErrors.shabaCode">{{formErrors.shabaCode}}</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex >
        <button  class="primaryButton" style="margin: 0.1vw;" type="submit" >{{'submit' | transloco}}</button>
      </div>
    </form>
  </div>
  <!--auth-->
  <div fxFlex class="big-box">
    
      <mat-label>property of uploaded file</mat-label>
  
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutGap="0.1vw">
      <div fxFlex>
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.5vw">
          <div fxFlex>
            <div  class="container" fxLayout="column" fxLayoutAlign="start start " fxLayoutGap= "0.5vw">
              <div fxFlex *ngIf="imageAddress">
                <img src="{{imageAddress}}" style="width: 10vw; height: 10vw;"/>
              </div>
              <div fxFlex>
                <p>
                  <label class="file" *ngIf="!admin">
                    <input type="file" name="image" ng2FileSelect [uploader]="uploader" 
                      accept="image/x-png,image/gif,image/jpeg"  id="file" aria-label="File browser example"
                      (change)="uploader.uploadAll()" />
                    <span class="file-custom"></span>
                  </label>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex *ngIf="admin">
        <div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.1vw">
          <div fxFlex>
            <mat-form-field>
              <textarea matInput [(ngModel)]="description" placeholder="{{'description' | transloco}}"></textarea>
            </mat-form-field>
          </div>
          <div fxFlex>
            <button  class="primaryButton" (click)="defectiveDoc()">{{'defective' | transloco}}</button>
          </div>
          <div fxFlex>
            <button  class="accentButton" (click)="submitDoc()">{{'submit' | transloco}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>